<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="StringConexao" connectionString="Data Source=DRACCON\SQLEXPRESS; Initial Catalog=DB_PizzaVintage; Integrated Security=SSPI"
            providerName="SqlClient" />
    </connectionStrings>
</configuration>